<%= form_for search, url: { action: :create } do |f| %>
  <p><%= f.text_area(:urls, class: "form-control", rows: 5) %></p>
  <p><%= f.submit("Fetch", class: "btn btn-lg btn-success") %></p>
<% end %>
